{
  "openapi": "3.0.0",
  "info": {
    "title": "Botpress HITL API - Call API",
    "version": "1.0.0",
    "description": "The Botpress HITL API to interact with conversations"
  },
  "servers": [
    {
      "url": "https://webhook.botpress.cloud/{webhookId}",
      "variables": {
        "webhookId": {
          "default": "YOUR_WEBHOOK_ID",
          "description": "The webhook id found in your bot's integration configuration page in the webhook url."
        }
      }
    }
  ],
  "components": {
    "schemas": {
      "PingPayload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ping"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "CreateRemoteConversationPayload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "createRemoteConversation"
            ]
          },
          "payload": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "messages": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string"
                    },
                    "author": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "text"
                  ]
                }
              }
            }
          }
        },
        "required": [
          "type",
          "payload"
        ]
      },
      "CloseRemoteTicketPayload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "closeRemoteTicket"
            ]
          },
          "payload": {
            "type": "object",
            "properties": {
              "botpressConversationId": {
                "type": "string"
              }
            },
            "required": [
              "botpressConversationId"
            ]
          }
        },
        "required": [
          "type",
          "payload"
        ]
      },
      "CreateRemoteUserPayload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "createRemoteUser"
            ]
          },
          "payload": {
            "type": "object",
            "properties": {}
          }
        },
        "required": [
          "type",
          "payload"
        ]
      },
      "BotSendsMessagePayload": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "botSendsMessage"
            ]
          },
          "payload": {
            "type": "object",
            "properties": {
              "remoteConversationId": {
                "type": "string"
              },
              "remoteUserId": {
                "type": "string"
              },
              "payload": {
                "type": "object",
                "properties": {}
              }
            },
            "required": [
              "remoteConversationId",
              "remoteUserId",
              "payload"
            ]
          }
        },
        "required": [
          "type",
          "payload"
        ]
      },
      "AgentAssignedPayload": {
        "type": "object",
        "properties": {
          "remoteConversationId": {
            "type": "string"
          },
          "remoteUserId": {
            "type": "string"
          },
          "agentDisplayName": {
            "type": "string"
          }
        },
        "required": [
          "remoteConversationId",
          "remoteUserId",
          "agentDisplayName"
        ]
      },
      "StopHitlPayload": {
        "type": "object",
        "properties": {
          "remoteConversationId": {
            "type": "string"
          }
        },
        "required": [
          "remoteConversationId"
        ]
      },
      "CreateRemoteConversationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "CloseRemoteTicketResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "CreateRemoteUserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/message-from-agent": {
      "post": {
        "summary": "Send a message from the agent to the bot.",
        "tags": [
          "Calling the API"
        ],
        "description": "Receives a message from the agent and forwards it to the bot conversation.",
        "operationId": "messageFromAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentAssignedPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message successfully sent to the bot conversation."
          }
        }
      }
    },
    "/agent-assigned": {
      "post": {
        "summary": "Notify that an agent was assigned to a conversation.",
        "tags": [
          "Calling the API"
        ],
        "description": "This endpoint is triggered when an agent is assigned to a conversation.",
        "operationId": "agentAssigned",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentAssignedPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent assignment successfully processed."
          }
        }
      }
    },
    "/stop-hitl": {
      "post": {
        "summary": "Stop the human-in-the-loop (HITL) session and close the ticket.",
        "tags": [
          "Calling the API"
        ],
        "description": "This endpoint is called when the agent stops the human-in-the-loop session.",
        "operationId": "stopHitl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopHitlPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The HITL session was successfully stopped and the conversation was released."
          }
        }
      }
    }
  },
  "tags": []
}